body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
}


.header{
    padding: 30px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,94,121,1) 66%, rgba(0,212,255,1) 100%);
    color:azure;
    margin-bottom: 100px;
}

.apiname{
    font-size: 30px;
}

.fill{
    width: 100%;
    height: 100%;
}

.field{
    align-items: center;
    max-width: 600px;
}

.description{
    height: 60px;
}

.submit{
    background-color: lightgray;
    border: 1px black solid;
}

.submit:hover{
    background-color: rgb(189, 189, 189);
}

.item{
    text-decoration: none;
    padding: 50px;
    margin-left: 25pt;
    background-color: rgb(185, 185, 219);
    font-size: larger;
    border-radius: 5px;
    border: 1px solid #333333;
    color: black;
}

.item:hover{
    background-color: rgb(245, 245, 250);
}


.answeritem{
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 25pt;
    background-color: rgb(185, 185, 219);
    font-size: larger;
    border-radius: 5px;
    border: 1px solid #333333;
    color: black;
}

.answeritem:hover{
    background-color: rgb(245, 245, 250);
}

.answer{
    margin: 25pt;
}

.tabela{
    background-color:cadetblue;
    border-spacing: 0px;
    width: 100%;
}

.cell{
    padding: 10px;
    text-align: center;
}

.head{
    background-color: rgb(56, 125, 128);
}